@font-face {
    font-family: 'AveriaSansRegular';
    src: url('/fonts/averiasans-regular-webfont.eot');
    src: url('/fonts/averiasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/averiasans-regular-webfont.woff') format('woff'),
         url('/fonts/averiasans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SubtleSansLightRegular';
    src: url('/fonts/subtlesanslight-webfont.eot');
    src: url('/fonts/subtlesanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/subtlesanslight-webfont.woff') format('woff'),
         url('/fonts/subtlesanslight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SubtleSansRegularRegular';
    src: url('/fonts/subtlesansregular-webfont.eot');
    src: url('/fonts/subtlesansregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/subtlesansregular-webfont.woff') format('woff'),
         url('/fonts/subtlesansregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*
Lots of code based on this plugin:

Plugin: jQuery Parallax
Version 1.1
Author: Ian Lunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

body {
  min-width: 980px;
  background: rgb(17, 15, 12);
  color: #fff;
  font-family: "AveriaSansRegular";
}

#nav {
  list-style: none;
  position: fixed;
  right: 20px;

  li {
    opacity: 0.8;
    -moz-opacity: 0.8;
    margin: 0 0 15px 0;
  }
}

section {
  margin: 0 auto;
  min-width: 980px;
  overflow: auto;
  width: 980px;

  article {
    position: relative;
    padding-top: 50px;

    p {
      width: 400px;
      margin-bottom: 20px;
      font-size: 20px;
    }

    h2 {
      font-size: 130px;
      font-family: "SubtleSansLightRegular"
    }

    a, a:hover {
      color: #fff;
    }
  }
}

@mixin parallax($id) {
  background:url('/images/buffalo' + $id + '.jpg') 0 0 no-repeat fixed;
  height: 500px;
  margin: 0 auto;
}

#intro {
  @include parallax(1);
  height: 800px;

  article {
    padding-top: 0;

    ul {
      float: right;
      background: #fff;
      opacity: 0.7;
      -moz-opacity: 0.7;

      border-bottom-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-bottom-left-radius: 3px;

      border-bottom-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -webkit-border-bottom-right-radius: 3px;

      li {
        font-size: 13px;
        display: inline-block;
        padding: 5px;

        a {
          color: #000;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    p {
      font-size: 25px;
      width: 600px;
    }

    h1 {
      padding-top: 160px;
      font-family: "SubtleSansRegularRegular";
      line-height: 145px;
      font-size: 200px;
      text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
      text-align: right;
      padding-bottom: 110px;
      background-image: url(/images/coworkbuffalo.png);
      background-position: 0% 105%;
      background-repeat: repeat-x;

      span {
        font-size: 189px;
        font-family: "SubtleSansLightRegular";
      }
    }
  }
}

@mixin righty {
  p {
    margin-left: 515px;
    text-align: right;
    width: 460px;
  }

  h2 {
    text-align: right;
  }
}

#where {
  @include parallax(2);
}

#plans {
  @include parallax(3);
  @include righty;
}

#community {
  @include parallax(4);
}

#contact {
  @include parallax(5);
  @include righty;
}

#buffalo {
  margin-top: 60px;
  float: left;
}

#herd {
  float: left;
  background-image: url(/images/coworkbuffalo_white.png);
  background-repeat: repeat;
  width: 384px;
  height: 500px;
  margin-top: -50px;
  opacity: 0.4;
  -moz-opacity: 0.4;
}

#map {
  cursor: pointer;
  float: right;
  margin-top: 50px;

  #tile {
    width: 400px;
    height: 300px;
    border: 5px solid #000;
  }
}
