@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin parallax($id) {
  background:url('/images/buffalo' + $id + '.jpg') 0 0 repeat fixed;
  height: 500px;
  margin: 0 auto;
}

@mixin righty {
  p {
    margin-left: 515px;
    text-align: right;
    max-width: 460px;
  }

  h2 {
    text-align: right;
  }
}

@font-face {
    font-family: 'SubtleSansLightRegular';
    src: url('/fonts/subtlesanslight-webfont.eot');
    src: url('/fonts/subtlesanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/subtlesanslight-webfont.woff') format('woff'),
         url('/fonts/subtlesanslight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SubtleSansRegularRegular';
    src: url('/fonts/subtlesansregular-webfont.eot');
    src: url('/fonts/subtlesansregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/subtlesansregular-webfont.woff') format('woff'),
         url('/fonts/subtlesansregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*
Lots of code based on this plugin:

Plugin: jQuery Parallax
Version 1.1
Author: Ian Lunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

$width: 980px;
$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  min-width: $width;
  background: rgb(17, 15, 12);
  color: #fff;
  font-family: $font;
}

#nav {
  list-style: none;
  position: fixed;
  right: 20px;

  li {
    opacity: 0.8;
    -moz-opacity: 0.8;
    margin: 0 0 15px 0;
  }
}

section {
  margin: 0 auto;
  overflow: auto;
  width: $width;

  article {
    position: relative;
    padding-top: 50px;

    p {
      max-width: 400px;
      margin-bottom: 20px;
      font-size: 20px;
    }

    h2 {
      font-size: 130px;
      font-family: "SubtleSansLightRegular"
    }

    a, a:hover {
      color: #fff;
    }
  }
}

#links {
  position: absolute;
  background: #fff;
  opacity: 0.7;
  -moz-opacity: 0.7;
  z-index: 9999;
  right: 0;

  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;

  border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;

  li {
    font-size: 13px;
    display: inline-block;
    padding: 5px;

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#intro {
  @include parallax(1);
  height: 800px;

  article {
    padding-top: 0;

    p {
      font-size: 25px;
      max-width: 700px;

      span {
        display: block;
        font-size: 14px;
      }
    }

    h1 {
      padding-top: 160px;
      font-family: "SubtleSansRegularRegular";
      line-height: 145px;
      font-size: 200px;
      text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
      text-align: right;
      padding-bottom: 110px;
      background-image: url(/images/coworkbuffalo.png);
      background-position: 60px 105%;
      background-repeat: repeat-x;

      span {
        font-size: 189px;
        font-family: "SubtleSansLightRegular";
      }
    }
  }
}

#where {
  @include parallax(2);
}

#plans {
  @include parallax(3);
  @include righty;
}

#community {
  @include parallax(4);

  .slider-wrapper {
    margin-top: 55px;
    margin-bottom: 0;
    float: right;

    .nivoSlider {
      font-style: italic;
      margin-top: 150px;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      @include border-radius(10px);
    }

    p {
      font-size: 11px;
      text-align: right;
      margin: 0;
      width: 100%;
    }
  }
}

#contact {
  @include parallax(5);
  @include righty;

  #buffalo {
    margin-top: 60px;
    float: left;
  }

  #brought {
    text-align: right;
    margin-top: 10px;

    ul {
      list-style: none;

      li {
        display: inline-block;
        padding: 0;
        margin: 0;

        img {
          width: 75px;
          height: 75px;
          border: 3px solid black;
        }
      }
    }
  }
}

#herd {
  float: left;
  background-image: url(/images/coworkbuffalo_white.png);
  background-repeat: repeat;
  width: 384px;
  height: 500px;
  margin-top: -50px;
  opacity: 0.4;
  -moz-opacity: 0.4;
}

#map {
  cursor: pointer;
  float: right;
  margin-top: 50px;

  #tile {
    width: 400px;
    height: 300px;
    border: 5px solid #000;

    $pin-size: 30px;

    #pin {
      position: absolute;
      background-image: url(/images/coworkbuffalo.png);
      background-size: $pin-size $pin-size;
      width: $pin-size;
      height: $pin-size;
      background-repeat:no-repeat;
      top: 50%;
      left: 48%;
      z-index: 99;
    }
  }
}

#supersized-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  text-indent: -999em;
  background: url(/images/progress.gif) no-repeat center center; }

#supersized {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -999;
  height: 100%;
  width: 100%; }

#supersized img {
  width: auto;
  height: auto;
  position: relative;
  outline: none;
  border: none; }

#supersized a {
  z-index: -30;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  display: block; }

#supersized a.image-loading {
  background: #111111 url(/images/progress.gif) no-repeat center center;
  width: 100%;
  height: 100%; }


.subpage {
  padding-top: 30px;

  h1 {
    font-family: "SubtleSansRegularRegular";
    line-height: 33px;
    font-size: 80px;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
    text-align: center;
    padding-left: 23px;
    padding-top: 46px;
    padding-bottom: 50px;
    background-image: url(/images/coworkbuffalo.png);
    background-position: 50% 0px;
    background-repeat: no-repeat;
    word-spacing: 109px;

    a {
      text-decoration: none;
    }

    span {
      font-family: "SubtleSansLightRegular";
    }
  }

  a, a:hover {
    color: #fff;
  }

  #header {
    margin: 0 auto;
    width: 770px;
    height: 50px;
    margin-top: 10px;

    h2 {
      font-size: 30px;
      float: left;
    }

    p {
      margin-top: 8px;
      float: right;
      text-align: right;
      font-size: 12px;
    }
  }
}

#faq {
  > ul {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    list-style: none;

    > li {
      margin-bottom: 30px;
      background: rgba(255, 255, 255, 0.85);
      color: #000;
      border-top-left-radius: 15px;
      -moz-border-radius-topleft: 15px;
      -webkit-border-top-left-radius: 15px;

      border-bottom-right-radius: 15px;
      -moz-border-radius-bottomright: 15px;
      -webkit-border-bottom-right-radius: 15px;
      padding: 15px;

      h3 {
        font-size: 30px;
        margin-bottom: 15px;
      }

      p {
        font-family: $font;
        font-size: 14px;
        margin-bottom: 10px;
      }

      blockquote {
        padding: 5px 15px;
        margin: 0;
        font-style: italic;

        p {
          margin: 0;
        }
      }

      > ul {
        list-style: disc;
        padding-left: 30px;

        > li {
          width: 90%;
          font-size: 13px;
          font-family: $font;
          padding-bottom: 5px;
        }
      }

      a, a:visited {
        color: #666;
      }
    }
  }
}

@media only screen and (max-device-width: 480px) {
  body {
    min-width: 100%;
  }

  #supersized, #nav, #buffalo, .slider-wrapper {
    display: none;
  }

  section {
    width: auto !important;
    min-width: auto !important;

    article {
      position: relative;

      h2 {
        font-size: 70px;
      }
    }
  }

  #intro, #where, #plans, #community, #contact {
    height: auto !important;
  }

  #brought {
    text-align: center !important;

    img {
      width: 50px !important;
      height: 50px !important;
    }
  }

  #intro {
    article {
      h1 {
        text-align: center;
        padding-top: 10px;
        line-height: 60px;
        font-size: 60px;
        span {
          font-size: 60px;
        }
      }

      p {
        width: auto;
        text-align: center;
      }
    }
  }

  #map {
    display: none;
  }

  #herd {
    display: none;
  }

  #plans, #contact {
    h2 {
      text-align: left;
    }

    p {
      margin-left: 0;
      text-align: left;
    }
  }

  .subpage {
    padding-top: 10px;

    h1 {
      background: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: auto;
      padding-right: auto;
      font-size: 60px;
      line-height: 50px;
      word-spacing: 0;
    }

    #header {
      width: auto;
      header: auto;

      p, h2 {
        float: none;
        text-align: center;
      }

      p {
        font-size: 10px;
        margin-bottom: 10px;
      }
    }
  }

  #food #trucks {
    width: 100% !important;

    li {
      width: 100% !important;
      margin-top: 10px;
      display: block;
      margin-right: 0 !important;

      iframe {
        margin: 0 !important;
        width: 100%;
        padding: 0 !important;
      }
    }
  }

  #links {
    position: static;
    text-align: center;
    li {
      font-size: 12px;
    }
  }
}

#food {
  #footer {
    text-align: center;
    margin-bottom: 2em;
    font-size: 12px;
  }

  #trucks {
    width: 990px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    margin-bottom: 4em;

    li {
      display: inline-block;
      width: 300px;
      vertical-align: top;
      margin-top: 4em;
      margin-right: 30px;
      min-height: 300px;

      header {
        font-size: 20px;

        > a {
          text-decoration: none;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }

      iframe {
        background: rgba(255, 255, 255, 0.7);
        @include border-radius(10px);
        padding: 5px;
        display: block;
        margin: 0 auto;
        min-width: 300px;
        min-height: 300px;
      }
    }
  }
}

#newsletter {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;

  form {
    border: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

    input {
      display: inline-block;
    }

    input[type=text] {
      background: #E3E3E3;
      border: 1px solid #BBB;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 0 1px 1px #F6F6F6;
      box-shadow: inset 0 0 1px 1px #F6F6F6;
      color: #333;
      padding: 10px 0 9px;
      text-align: center;
      text-shadow: 0 1px 0 white;
      width: 200px;
    }
  }

  h2 a {
    text-decoration: none;
  }

  article {
    background: rgba(255, 255, 255, .9);
    color: #000;
    padding: 20px;
    @include border-radius(10px);
    font-family: $font;
    margin-bottom: 20px;

    h2 {
      font-size: 30px;
      margin-top: 15px;
      margin-bottom: 15px;
      font-family: $font;
    }

    header h2 {
      margin-top: 0;
    }

    h3 {
      font-size: 16px;
      font-style: italic;
      font-weight: normal;
      margin-bottom: 10px;
    }

    ul {
      list-style: disc inside;
      margin-bottom: 10px;

      li {
        margin-bottom: 5px;

        p {
          margin: 0;
        }
      }
    }

    p {
      line-height: 18px;
      margin-bottom: 15px;
    }

    a, a:visited {
      color: #000;
    }

    img {
      display: block;
      margin: 10px auto;
      max-width: 100%;
    }
  }
}

/* skip (inspired by okcupid iphone interface)
*******************************************************************************/
button.skip {
  background-color: #8c9cbf;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8c9cbf), color-stop(50%, #546a9e), color-stop(50%, #36518f), color-stop(100%, #3d5691));
  background-image: -webkit-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -ms-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: -o-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background-image: linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: inset 0 1px 0 0 #b1b9cb;
  color: #fff;
  font: bold 16px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 8px 0 10px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
  width: 200px; }
  button.skip:hover {
    background-color: #7f8dad;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7f8dad), color-stop(50%, #4a5e8c), color-stop(50%, #2f477d), color-stop(100%, #364c80));
    background-image: -webkit-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: -ms-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: -o-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    background-image: linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
    cursor: pointer; }
  button.skip:active {
    -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
    box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white; }
