@font-face {
    font-family: 'AveriaSansRegular';
    src: url('/fonts/averiasans-regular-webfont.eot');
    src: url('/fonts/averiasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/averiasans-regular-webfont.woff') format('woff'),
         url('/fonts/averiasans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SubtleSansLightRegular';
    src: url('/fonts/subtlesanslight-webfont.eot');
    src: url('/fonts/subtlesanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/subtlesanslight-webfont.woff') format('woff'),
         url('/fonts/subtlesanslight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SubtleSansRegularRegular';
    src: url('/fonts/subtlesansregular-webfont.eot');
    src: url('/fonts/subtlesansregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/subtlesansregular-webfont.woff') format('woff'),
         url('/fonts/subtlesansregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*
Lots of code based on this plugin:

Plugin: jQuery Parallax
Version 1.1
Author: Ian Lunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

body {
  min-width: 980px;
  background: rgb(17, 15, 12);
  color: #fff;
  font-family: "AveriaSansRegular";
}

#nav {
  list-style: none;
  position: fixed;
  right: 20px;

  li {
    opacity: 0.8;
    -moz-opacity: 0.8;
    margin: 0 0 15px 0;
  }
}

section {
  margin: 0 auto;
  min-width: 980px;
  overflow: auto;
  width: 980px;

  article {
    position: relative;
    padding-top: 50px;

    p {
      width: 400px;
      margin-bottom: 20px;
      font-size: 20px;
    }

    h2 {
      font-size: 130px;
      font-family: "SubtleSansLightRegular"
    }

    a, a:hover {
      color: #fff;
    }
  }
}

@mixin parallax($id) {
  background:url('/images/buffalo' + $id + '.jpg') 0 0 no-repeat fixed;
  height: 500px;
  margin: 0 auto;
}

#intro {
  @include parallax(1);
  height: 800px;

  article {
    padding-top: 0;

    ul {
      float: right;
      background: #fff;
      opacity: 0.7;
      -moz-opacity: 0.7;

      border-bottom-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-bottom-left-radius: 3px;

      border-bottom-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -webkit-border-bottom-right-radius: 3px;

      li {
        font-size: 13px;
        display: inline-block;
        padding: 5px;

        a {
          color: #000;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    p {
      font-size: 25px;
      width: 700px;

      span {
        display: block;
        font-size: 14px;
      }
    }

    h1 {
      padding-top: 160px;
      font-family: "SubtleSansRegularRegular";
      line-height: 145px;
      font-size: 200px;
      text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
      text-align: right;
      padding-bottom: 110px;
      background-image: url(/images/coworkbuffalo.png);
      background-position: 60px 105%;
      background-repeat: repeat-x;

      span {
        font-size: 189px;
        font-family: "SubtleSansLightRegular";
      }
    }
  }
}

@mixin righty {
  p {
    margin-left: 515px;
    text-align: right;
    width: 460px;
  }

  h2 {
    text-align: right;
  }
}

#where {
  @include parallax(2);
}

#plans {
  @include parallax(3);
  @include righty;
}

#community {
  @include parallax(4);

  .slider-wrapper {
    margin-top: 60px;
    margin-bottom: 0;
    float: right;

    .nivoSlider {
      margin-bottom: 3px;
    }

    p {
      font-size: 10px;
      text-align: right;
      margin: 0;
      width: 100%;
    }
  }
}

#contact {
  @include parallax(5);
  @include righty;

  #buffalo {
    margin-top: 60px;
    float: left;
  }

  #brought {
    text-align: right;
    margin-top: 10px;

    ul {
      list-style: none;

      li {
        display: inline-block;
        padding: 0;
        margin: 0;

        img {
          border: 3px solid black;
        }
      }
    }
  }
}

#herd {
  float: left;
  background-image: url(/images/coworkbuffalo_white.png);
  background-repeat: repeat;
  width: 384px;
  height: 500px;
  margin-top: -50px;
  opacity: 0.4;
  -moz-opacity: 0.4;
}

#map {
  cursor: pointer;
  float: right;
  margin-top: 50px;

  #tile {
    width: 400px;
    height: 300px;
    border: 5px solid #000;
  }
}

#supersized-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  text-indent: -999em;
  background: url(/images/progress.gif) no-repeat center center; }

#supersized {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -999;
  height: 100%;
  width: 100%; }

#supersized img {
  width: auto;
  height: auto;
  position: relative;
  outline: none;
  border: none; }

#supersized a {
  z-index: -30;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  display: block; }

#supersized a.image-loading {
  background: #111111 url(/images/progress.gif) no-repeat center center;
  width: 100%;
  height: 100%; }


#food {
  h1 {
    font-family: "SubtleSansRegularRegular";
    line-height: 33px;
    font-size: 80px;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
    text-align: center;
    padding-left: 23px;
    padding-top: 46px;
    padding-bottom: 50px;
    background-image: url(/images/coworkbuffalo.png);
    background-position: 50% 0px;
    background-repeat: no-repeat;
    word-spacing: 109px;

    a {
      text-decoration: none;
    }

    span {
      font-family: "SubtleSansLightRegular";
    }
  }

  a, a:hover {
    color: #fff;
  }

  #header {
    margin: 0 auto;
    width: 770px;
    height: 50px;
    margin-top: 10px;

    h2 {
      font-size: 30px;
      float: left;
    }

    p {
      margin-top: 8px;
      float: right;
      text-align: right;
      font-size: 12px;
    }
  }

  #footer {
    text-align: center;
    margin-bottom: 2em;
    font-size: 12px;
  }

  #trucks {
    width: 990px;
    margin: 0 auto;
    list-style: none;
    margin-bottom: 4em;

    li {
      display: inline-block;
      width: 300px;
      vertical-align: top;
      margin-top: 4em;
      margin-right: 30px;

      header {
        font-size: 20px;

        > a {
          text-decoration: none;
          padding-left: 55px;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }

      > ul {
        margin-top: 10px;

        > li {
          background: rgba(255, 255, 255, 0.7);
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          color: #000;
          padding: 10px;
          margin-top: 10px;
          font-family: 'Helvetica Neue', Arial, sans-serif;
          font-size: 14px;

          a {
            color: #666;
            text-decoration: none;
          }

          #perma {
            display: block;
            text-align: right;
          }
        }
      }
    }
  }
}
