@font-face {
  font-family: 'AveriaSansRegular';
  src: url("/fonts/averiasans-regular-webfont.eot");
  src: url("/fonts/averiasans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/averiasans-regular-webfont.woff") format("woff"), url("/fonts/averiasans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SubtleSansLightRegular';
  src: url("/fonts/subtlesanslight-webfont.eot");
  src: url("/fonts/subtlesanslight-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/subtlesanslight-webfont.woff") format("woff"), url("/fonts/subtlesanslight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SubtleSansRegularRegular';
  src: url("/fonts/subtlesansregular-webfont.eot");
  src: url("/fonts/subtlesansregular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/subtlesansregular-webfont.woff") format("woff"), url("/fonts/subtlesansregular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*
Lots of code based on this plugin:

Plugin: jQuery Parallax
Version 1.1
Author: Ian Lunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/
body {
  min-width: 980px;
  background: #110f0c;
  color: #fff;
  font-family: "AveriaSansRegular"; }

#nav {
  list-style: none;
  position: fixed;
  right: 20px; }
  #nav li {
    opacity: 0.8;
    -moz-opacity: 0.8;
    margin: 0 0 15px 0; }

section {
  margin: 0 auto;
  min-width: 980px;
  overflow: auto;
  width: 980px; }
  section article {
    position: relative;
    padding-top: 50px; }
    section article p {
      width: 400px;
      margin-bottom: 20px;
      font-size: 20px; }
    section article h2 {
      font-size: 130px;
      font-family: "SubtleSansLightRegular"; }
    section article a, section article a:hover {
      color: #fff; }

#intro {
  background: url("/images/buffalo1.jpg") 0 0 no-repeat fixed;
  height: 500px;
  margin: 0 auto;
  height: 800px; }
  #intro article {
    padding-top: 0; }
    #intro article ul {
      float: right;
      background: #fff;
      opacity: 0.7;
      -moz-opacity: 0.7;
      border-bottom-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      -moz-border-radius-bottomright: 3px;
      -webkit-border-bottom-right-radius: 3px; }
      #intro article ul li {
        font-size: 13px;
        display: inline-block;
        padding: 5px; }
        #intro article ul li a {
          color: #000;
          text-decoration: none; }
          #intro article ul li a:hover {
            text-decoration: underline; }
    #intro article p {
      font-size: 25px;
      width: 700px; }
      #intro article p span {
        display: block;
        font-size: 14px; }
    #intro article h1 {
      padding-top: 160px;
      font-family: "SubtleSansRegularRegular";
      line-height: 145px;
      font-size: 200px;
      text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
      text-align: right;
      padding-bottom: 110px;
      background-image: url(/images/coworkbuffalo.png);
      background-position: 60px 105%;
      background-repeat: repeat-x; }
      #intro article h1 span {
        font-size: 189px;
        font-family: "SubtleSansLightRegular"; }

#where {
  background: url("/images/buffalo2.jpg") 0 0 no-repeat fixed;
  height: 500px;
  margin: 0 auto; }

#plans {
  background: url("/images/buffalo3.jpg") 0 0 no-repeat fixed;
  height: 500px;
  margin: 0 auto; }
  #plans p {
    margin-left: 515px;
    text-align: right;
    width: 460px; }
  #plans h2 {
    text-align: right; }

#community {
  background: url("/images/buffalo4.jpg") 0 0 no-repeat fixed;
  height: 500px;
  margin: 0 auto; }
  #community .slider-wrapper {
    margin-top: 60px;
    float: right; }

#contact {
  background: url("/images/buffalo5.jpg") 0 0 no-repeat fixed;
  height: 500px;
  margin: 0 auto; }
  #contact p {
    margin-left: 515px;
    text-align: right;
    width: 460px; }
  #contact h2 {
    text-align: right; }
  #contact #buffalo {
    margin-top: 60px;
    float: left; }
  #contact #brought {
    text-align: right;
    margin-top: 10px; }
    #contact #brought ul {
      list-style: none; }
      #contact #brought ul li {
        display: inline-block;
        padding: 0;
        margin: 0; }
        #contact #brought ul li img {
          border: 3px solid black; }

#herd {
  float: left;
  background-image: url(/images/coworkbuffalo_white.png);
  background-repeat: repeat;
  width: 384px;
  height: 500px;
  margin-top: -50px;
  opacity: 0.4;
  -moz-opacity: 0.4; }

#map {
  cursor: pointer;
  float: right;
  margin-top: 50px; }
  #map #tile {
    width: 400px;
    height: 300px;
    border: 5px solid #000; }

#supersized-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  text-indent: -999em;
  background: url(/images/progress.gif) no-repeat center center; }

#supersized {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -999;
  height: 100%;
  width: 100%; }

#supersized img {
  width: auto;
  height: auto;
  position: relative;
  outline: none;
  border: none; }

#supersized a {
  z-index: -30;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  display: block; }

#supersized a.image-loading {
  background: #111111 url(/images/progress.gif) no-repeat center center;
  width: 100%;
  height: 100%; }

#food h1 {
  font-family: "SubtleSansRegularRegular";
  line-height: 33px;
  font-size: 80px;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
  text-align: center;
  padding-left: 23px;
  padding-top: 46px;
  padding-bottom: 50px;
  background-image: url(/images/coworkbuffalo.png);
  background-position: 50% 0px;
  background-repeat: no-repeat;
  word-spacing: 109px; }
  #food h1 a {
    text-decoration: none; }
  #food h1 span {
    font-family: "SubtleSansLightRegular"; }
#food a, #food a:hover {
  color: #fff; }
#food #header {
  margin: 0 auto;
  width: 770px;
  height: 50px;
  margin-top: 10px; }
  #food #header h2 {
    font-size: 30px;
    float: left; }
  #food #header p {
    margin-top: 8px;
    float: right;
    text-align: right;
    font-size: 12px; }
#food #footer {
  text-align: center;
  margin-bottom: 2em;
  font-size: 12px; }
#food #trucks {
  width: 990px;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 4em; }
  #food #trucks li {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-top: 4em;
    margin-right: 30px; }
    #food #trucks li header {
      font-size: 20px; }
      #food #trucks li header > a {
        text-decoration: none;
        padding-left: 55px;
        padding-top: 12px;
        padding-bottom: 12px; }
    #food #trucks li > ul {
      margin-top: 10px; }
      #food #trucks li > ul > li {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        color: #000;
        padding: 10px;
        margin-top: 10px;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-size: 14px; }
        #food #trucks li > ul > li a {
          color: #666;
          text-decoration: none; }
        #food #trucks li > ul > li #perma {
          display: block;
          text-align: right; }
