<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>{{ page.title }}</title>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="/stylesheets/nivo.css" />
  <script src="/javascripts/jquery-latest.pack.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <ul id="links">
    <li><a href="/faq">FAQ</a></li>
    <li><a href="https://twitter.com/CoworkBuffalo">Twitter</a></li>
    <li><a href="/newsletter">Newsletter</a></li>
    <li><a href="/food">Food Trucks</a></li>
    <li><a href="http://turntable.fm/coworkbuffalo">Turntable</a></li>
  </ul>

  {{ content }}

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4fb48405613f5d245e000069');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
