<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>CoworkBuffalo</title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<body>
  {{ content }}
  <script src="/javascripts/jquery-latest.pack.js"></script>
  <script src="/javascripts/jquery.parallax-1.1.js"></script>
  <script src="/javascripts/jquery.localscroll-1.2.7-min.js"></script>
  <script src="/javascripts/jquery.scrollTo-1.4.2-min.js"></script>
  <script src="/javascripts/modestmaps.js"></script>
  <script src="/javascripts/tile.stamen.js"></script>
  <script src="/javascripts/index.js"></script>
</body>
</html>
