<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <link rel="stylesheet" href="/stylesheets/nivo.css" />
  <script src="/javascripts/jquery-latest.pack.js"></script>
</head>
<body>
  <ul id="links">
    <li><a href="/faq">FAQ</a></li>
    <li><a href="https://twitter.com/CoworkBuffalo">Twitter</a></li>
    <li><a href="http://tinyletter.com/coworkbuffalo/archive">Newsletter</a></li>
    <li><a href="/food">Food Trucks</a></li>
	<li><a href="https://mapsengine.google.com/map/u/0/edit?hl=en&authuser=0&mid=zfY0mqLBFK98.ks2vFLFWhaeQ">Parking</a></li>
    <li><a href="/agreement">Member Agreement</a></li>
    <li><a href="/policy">Anti-Harrassment Policy</a></li>
  </ul>

  {{ content }}

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4fb48405613f5d245e000069');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
  <script>
    window.intercomSettings = {
      app_id: "q8dnjdbp"
    };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/q8dnjdbp';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
</body>
</html>
