---
layout: default
---

<div class="subpage" id="newsletter">
  <h1><a href="http://coworkbuffalo.com">cowork <span>buffalo</span></a></h1>

  <form action="https://tinyletter.com/coworkbuffalo" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/coworkbuffalo', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <input type="text" name="email" id="tlemail" placeholder="What's your email?" />
    <input type="hidden" value="1" name="embed"/>
    <button class="skip">Subscribe</button>
  </form>

  <article>
    <header>
      <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
    </header>

    {{ content }}
  </article>
</div>

<script src="/javascripts/supersized.js"></script>
<script src="/javascripts/subpage.js"></script>
